html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="GjSkArpS-h2-Dw_m11lWaoNSMNBltMykXVWQUAi-dbw")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    link(href="/css/App.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    script(src="https://kit.fontawesome.com/8e8eb5d7ee.js" crossorigin="anonymous")
    title Rumah Sayang Bunda - Maintenance
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/jpg")
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
  body
    .font-pp
      .flex.flex-col.justify-center.items-center.mb-8.px-10(class="bg-white min-h-screen w-full md:mx-0") 
        h1.font-bold.text-center.text-xl(class="md:text-4xl") Website Sedang Dalam Perbaikan
        label.text-center.mt-4 Harap segera hubungi developer terkait masalah ini
        img(src="/img/maintenance.svg", alt="" class="md:w-3/5")