html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Rumah Sayang Bunda - Reservasi Baru
    link(href="https://i.ibb.co/FbgNc2d/icon-RSB.jpg" rel="shortcut icon" type="image/png")
    link(href="/css/App.css" rel="stylesheet")
    script(src="https://kit.fontawesome.com/8e8eb5d7ee.js" crossorigin="anonymous")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    include navbar.pug
    form(action="/appointment/new/form2" method="get" onClick="return test()")
        .form-control.w-full.flex.flex-col.justify-center.items-center.px-8
          .flex.justify-start.w-full(class="lg:max-w-lg md:max-w-md ")
            label.label
              span.label-text(class="after:ml-0.5 after:content-['*'] after:text-red-500") Silahkan pilih tanggal untuk reservasi
          input.input.input-bordered.w-full.max-w-xs(id="datefield" name="date" type='date' min='1899-01-01' max='2030-10-16'  class="lg:max-w-lg md:max-w-md" required="")
          .flex.justify-start.w-full(class="md:justify-start lg:max-w-lg md:max-w-md")
            label.label
              span.label-text(class="after:ml-0.5 after:content-['*'] after:text-red-500") Silahkan pilih layanan untuk reservasi
          select.select.select-bordered.w-full.max-w-xs(name="serviceId" class="lg:max-w-lg md:max-w-md" required)
            option(value="" selected="" disabled="") Pilih layanan
            each data in servicesData
              option(value=data.id)= data.data.name
          .flex.justify-start.w-full(class="md:justify-start lg:max-w-lg md:max-w-md")
            label.label
              span.label-text(class="after:ml-0.5 after:content-['*'] after:text-red-500") Silahkan pilih layanan Homecare / Datang ke klinik
          select.select.select-bordered.w-full.max-w-xs(name="serviceCare" class="lg:max-w-lg md:max-w-md" required)
            option(value="" selected="" disabled="") Pilih layanan
            option(value="homecare")= `Homecare`
            option(value="klinik")= `Datang ke Klinik`
          button.btn(class="bg-[#FFC9D7] border-none text-black hover:text-white hover:bg-[#f391ab] mt-4", type="submit") Klik disini untuk reservasi