html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/css/App.css" rel="stylesheet")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap' rel='stylesheet')
  body
    div.font-pp.pt-8
      footer.footer.items-center.p-4.gap-4.flex.flex-col(class="bg-[#FFC9D7] text-black lg:flex-row lg:gap-x-[36rem] lg:px-8")
        .items-center.justify-center(class="flex flex-col mt-2 lg:mt-0 lg:flex-row")
          label.avatar
            .w-10.rounded-full
              img(src="https://i.ibb.co/FbgNc2d/icon-RSB.jpg")  
          |  
          p.text-xs &copy; Rumah Sayang Bunda 2022
          span.hidden(class="lg:flex") - 
          p.text-center.text-xs Perum Plandi Permai Blok F2, Plandi, Kec. Jombang, Kabupaten Jombang, Jawa Timur 61411
        |  
        .grid-flow-col.gap-4.justify-self-center(class='md:place-self-center md:justify-self-end')
          a(href="https://www.instagram.com/rumahsayangbunda/")
            img.w-6(src="https://i.postimg.cc/hGttT5Mf/instagram.png" alt="")
          |  
          a(href="https://api.whatsapp.com/send?phone=6281270330373")
            img.w-6(src="https://i.postimg.cc/JzVLRdS9/whatsapp.png" alt="")